name: Build Android APK
on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # IMPORTANT : On force Java 17 (Requis pour Android SDK 2024+)
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # INSTALLATION BLINDÉE DES DÉPENDANCES
      # J'ai ajouté libncurses, cmake et distutils qui manquaient peut-être
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential git ffmpeg libsdl2-dev libsdl2-image-dev \
            libsdl2-mixer-dev libsdl2-ttf-dev libportmidi-dev \
            libswscale-dev libavformat-dev libavcodec-dev \
            zlib1g-dev libgstreamer1.0 \
            gstreamer1.0-plugins-base gstreamer1.0-plugins-good \
            libffi-dev libssl-dev autoconf libtool zip unzip \
            cmake gettext python3-distutils libncurses5-dev libncursesw5-dev

      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install buildozer cython==0.29.33

      - name: Build APK
        run: |
          # Le "yes" valide les licences automatiquement
          yes | buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
